{% extends 'base.html.twig' %}

{% block title %}
    {{ title }} | {{ parent() }}
{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <div>
        {# todo: afficher le formulaire #}
    </div>
{% endblock %}

