{% extends 'base.html.twig' %}

{% block title %}Error {{ status_code }}{% endblock %}

{% block body %}

    <h1>Oups Erreur : </h1>
    <p>{{ status_code }}</p>
    <p>{{ status_text }}</p>

{% endblock %}